<div class="col-md-4">
  <div class="login">
{{login-form login='login'}}
</div>
{{signup-form model='user' saveUser="saveUser"}}
<div class="tile">{{user-tile}}</div>

</div>
 <div class="row homepage-row">
  <div class="right">
    <img src="img/bear.jpg" alt="image of a bear">
    <p></p>
    <img src="img/killerwhale.jpg" alt="killer whale">
    <p></p>
    <img src="img/trail.png" alt="trail">
    <p></p>
    <img src="img/otter.jpg" alt="otter">
    <p></p>
    <img src="img/whale.jpg" alt="whale">
    <p></p>
    <img src="img/deer.jpg" alt="deer">
    <p></p>
    <img src="img/cute.jpg" alt="deer">
    <p></p>
    <img src="img/eagle.jpg" alt="deer">
  </div>
</div>
<br>
<h4 class="info"> Welcome to the website that allows you to track the everyday habits of the wildlife around you. </h4>
<br>

{{outlet}}
