<div class="col-md-4">
  <div class="login">
{{login-form login='login'}}
</div>
{{signup-form model='user' saveUser="saveUser"}}
<div class="tile">{{user-tile}}</div>

</div>


<div class="row">
<img src="img/bear.jpg" alt="image of a bear">
<p></p>
<img src="img/killerwhale.jpg" alt="killer whale">
<p></p>
<img src="img/trail.png" alt="trail">
<p></p>
<img src="img/otter.jpg" alt="otter">
<p></p>
<img src="img/whale.jpg" alt="whale">
<p></p>
<img src="img/deer.jpg" alt="deer">
</div>
